/*https://coolors.co/d9ed92-b5e48c-99d98c-76c893-52b69a-34a0a4-168aad-1a759f-1e6091-184e77*/
body{
  font-family: 'Oswald', 'Georgia', 'Helvetica', 'Verdana';
  color: #46494C;
  background-color: #52b69a;
  margin-left: 75px;
  margin-right: 75px;
}

header, footer{
  text-align: center;
}

h1, h2, h3{
  font-family: 'Georgia';
  text-align: center;
  color: #184e77;
  line-height: 0px;
}

.contact{
  text-align: left;
}

a{
  text-decoration: none;
  color: #168add;
  font-weight: bold;
}

a:hover{
  text-decoration: underline;
  color: #184e77;
}