/*ITIS 3135 Activity 7 css file*/

body
 {
    font-family:"arial";
}
        
#calc
{
	width:250px;
    background-color:#cccccc;
    text-align:center;
    border:outset;
    padding:5px;
}
        
input
{
    font-family:"Courier New";
    text-align:right;
 }

input.implement
{
    background-color:red;   
}